# Originally stored at https://gist.github.com/chrisfriend/5774542, but I couldn't figure out how to get a Gist into a repo. N00b.

# Latex files

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz

# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Mac finder files and hidden folders
.DS_Store
